{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My Website</title>
	<link rel="stylesheet" href="{%  static 'css/main.css' %}">
	<script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>
    
	<header>
		<nav>
			<ul>
				<li><a href="{% url 'home'%}">MOQUIZ</a></li>
				{% if user.is_authenticated %}
				<p>You are logged in as {{user.username}}</p>
				<li><a href="{% url 'logout'%}">logout</a></li>
				{% else %}
				<li><a href="{% url 'login'%}">login</a></li>
				{% endif %}
			</ul>
		</nav>
	</header>
    
    {% block content %}
	
    {% endblock %}
</body>
</html>
